<table class="table table-hover">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>ISBN</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let book of list">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.ISBN }}</td>
      <td>
        <a class="btn text-primary" (click)="onEdit(book)"
          ><i class="fa fa-pencil"></i
        ></a>
        <a class="btn text-danger" (click)="onDelete(book.id)"
          ><i class="fa fa-times"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
