<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-md-5">
      <p>Number of book in library: {{ length }}</p>
      <app-book [massage]="message"></app-book>
    </div>
    <div class="col-md-7">
      <app-book-list (childEvent)="length = $event"></app-book-list>
    </div>
  </div>
</div>
