<h1>Books registery {{ massage }}</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input
    type="hidden"
    name="id"
    #id="ngModel"
    [(ngModel)]="service.formData.id"
  />
  <div class="form-group">
    <input
      name="title"
      #title="ngModel"
      [(ngModel)]="service.formData.title"
      class="form-control"
      placeholder="Title"
      required
    />
    <div *ngIf="title.invalid && title.touched" class="validation-error">
      This field is required.
    </div>
  </div>
  <div class="form-group">
    <input
      name="author"
      #author="ngModel"
      [(ngModel)]="service.formData.author"
      class="form-control"
      placeholder="Author"
	  required
    />
	<div *ngIf="author.invalid && author.touched" class="validation-error">
      This field is required.
    </div>
  </div>
<<<<<<< HEAD

  <div class="form-group">
    <input
      name="description"
      #description="ngModel"
      [(ngModel)]="service.formData.description"
      class="form-control"
      placeholder="Description"
    />
  </div>
  <div class="form-group">
    <input
      name="ISBN"
      #ISBN="ngModel"
      [(ngModel)]="service.formData.ISBN"
      class="form-control"
      placeholder="ISBN"
    />
  </div>

=======
  
    <div class="form-group">
      <input
        name="description"
        #description="ngModel"
        [(ngModel)]="service.formData.description"
        class="form-control"
        placeholder="Description"
		required
      />
	  <div *ngIf="description.invalid && description.touched" class="validation-error">
      This field is required.
    </div>
    </div>
    <div class="form-group">
      <input
		type="number"
        name="ISBN"
        #ISBN="ngModel"
        [(ngModel)]="service.formData.ISBN"
        class="form-control"
        placeholder="ISBN"
		required
      />
	  <div *ngIf="ISBN.invalid && ISBN.touched" class="validation-error">
      This field is required.
    </div>
    </div>
  
>>>>>>> dee409ef3f8a146139e75206ac9e27396701f982
  <div class="form-group">
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-lg btn-block btn-primary"
    >
      SUBMIT
    </button>
  </div>
</form>
